.transactionhistory {
  margin: 10px auto;
}
.transactionshistoryhead {
  font-weight: bold;
  text-transform: uppercase;
  background-color: lightgrey;
}
.transactionshistoryitem {
  text-align: center;
  width: 150px;
  height: 40px;
  background-color: lightgreen;
}
